body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.box {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    padding: 10%;
    margin: 5%;
    border: 5px solid #333;
    transition: border 0.3s;
}
.box:hover {
    border: 10px solid #007bff;
}


