body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.sticky-nav {
    position: sticky;
    top: 0;
    background: #333;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.nav-link {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 5px 10px;
    border-radius: 5px;
}

.nav-link:hover, .nav-link:focus {
    background: #575757;
}

.section {
    height: 100vh;
    padding: 20px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    border-bottom: 1px solid #ddd;
}

#section1 {
    background: #ffeadb;
}

#section2 {
    background: #ffcccc;
}

#section3 {
    background: #ffe0b3;
}


